:root{
  --shadow:0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');


* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #999;
  font-size: 14px;
}
p {
  margin: 0!important;
}
h2.block-title, h3.block-title, span.block-title, p.block-title, div.block-title, h3.mc__title {
  font-size: 18px;
  font-weight: 600;
  color: #0d4a91;
}
span {
  font-size: inherit;
}
a {
  text-decoration: none;
}
.hyperlink {
  text-decoration: underline;
  color: #61bee2!important;
  font-size: 10px!important;
  cursor: pointer;
}
.hyperlink:hover {
  color: #0d4a91!important;
}

.smalltxt {
  font-size: 12px;
  color: #666;
  font-weight:normal;
}

label {
  display: block;
}
select {
  padding: 0.5em 1em;
}
.width100 {
  width:100%;
}
.position-relative {
  position: relative;
}
.position-r-t {
  position: absolute;
  top: 3em;
  right: 3em;
}
.radioWrapper {
   width: fit-content!important;
   display: inline-block!important;
}
.radioWrapper > *{
  width: fit-content!important;
  display: inline-block;
}
.radioWrapper input {
  width: 25px!important;
}



form div {
  margin: 1em;
  display: inline-block;
}

.button-with-icon {
  display: flex;
  justify-content: center;
  width:100%;
}
.button-with-icon > * {
  width: fit-content;
}
.button, .primaryBtn {
  padding: 0.5em 1em;
  text-align:center;
  border: 1px solid #fcce30;
  border-radius: 7px;
  margin: 0.5em 0;
  color: #0d4a91;
  text-align:center;
  background-color: #fff3c9;
}
.button * {
  color: #0d4a91;
}
.button-secondary {
  padding: 0.5em 1em;
  text-align:center;
  border: 1px solid #61bee2;
  border-radius: 7px;
  margin: 0.5em 0;
  color: #0d4a91;
  text-align:center;
  background-color: #c9f0ff;
}
.button:hover, .primaryBtn:hover {
  background-color: #fde387;
  cursor:pointer;
  border: 1px solid #0d4a91;
  color: #0d4a91;
}
.button-secondary:hover {
  background-color: #84d7f7;
  cursor:pointer;
  border: 1px solid #0d4a91;
  color: #0d4a91;
}
.button[disabled], .button-secondary[disabled] {
  cursor: default;
  color: #999;
  border: 1px solid #d1d1d1;
  background-color: rgba(239, 239, 239, 0.3);
}
.button[disabled]:hover {
  border: 1px solid #d1d1d1;
  background-color: rgba(239, 239, 239, 0.3);
}
i.button-icon {
  font-size: 1.5em;
  padding-right: 5px;
  line-height:1.2em;
}
.button-close {
  position: absolute;
  top: 0.5em;
  background-color:#fff;
  border: 0;
  color: #61bee2;
}
.button-close:hover {
  position: absolute;
  top: 0.5em;
  background-color:#fff;
  border: 0;
  color: #0d4a91;
}
.page-title {
  font-size: 2em;
  text-align:center;
  padding: 2em 0;
  color: #222;
}


#tabs-wrapper {
  justify-content: flex-end;
}
#tab-item-link a{
  color: #999;
  font-size: 1em;
  font-weight: 500!important;
}
#tab-item-link a:hover{
  color:#222;
}
#tab-item-link a.active{
  color:#222;
  background-color: #f7f7f7;
  border-radius: 10px;
}



/* 
.nav-pills .nav-link.active, .nav-pills .show>.nav-link
 */


.section {
  padding: 100px 0;
  position: relative;
}
.gray-bg {
  background-color: #f5f5f5;
}
img {
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
}

/*  */
/* HOME */
#home {
  padding: 2.5em;
  background-color:#fbf9f6;
}
#home > div {
  position: relative;
  border-radius: 1.5em;
  min-height: calc(100vh - 112px - 5em);
  background-image: url('/imgs/hero.jpg');
  background-position-y: 50%;
  background-size: cover;
}
#home .heroImg {
  position: absolute;
  bottom:0;
}
#home h1 {
  /* width:100%; */
  text-align:center;
  padding: 1.5em 0;
  color: #0d4a91;
}



/*  */
/* Email Signup Page */
#emailSignupPage {
  padding: 2.5em;
  background-color: #fbf9f6;
  min-height: calc(100vh - 112px);
}
#emailSignupPage > div {
  background-color: #fff;
  border-radius: 1.5em;
  padding: 2em;
  height: calc(100vh - 112px - 5em);
  background-image: url('/imgs/emailSignup.jpg');
  background-size: cover;
  background-position-y: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}
form.mc__form {
  background-color:#fff;
  padding: 2em;
  width: fit-content;
  height:fit-content;
}
input.inputField__field {
  display: block;
  padding: 0.5em 1em;
  margin-bottom: 1.5em;
  width: 20vw;
  min-width: 245px;
}
.mc__field-container {
  display:block;
  margin: 1em 0;
}

.blankBtn {
  border-style: none;
  background-color: white;
}

/* About Me 
---------------------*/
.about-text h3 {
font-size: 45px;
font-weight: 700;
margin: 0 0 6px;
}
@media (max-width: 767px) {
.about-text h3 {
  font-size: 35px;
}
}
.about-text h6 {
font-weight: 600;
margin-bottom: 15px;
}
@media (max-width: 767px) {
.about-text h6 {
  font-size: 18px;
}
}
.about-text p {
font-size: 18px;
max-width: 450px;
}
.about-text p mark {
font-weight: 600;
color: #20247b;
}

.about-list {
padding-top: 10px;
}
.about-list .media {
padding: 5px 0;
}
.about-list label {
color: #20247b;
font-weight: 600;
width: 88px;
margin: 0;
position: relative;
}
.about-list label:after {
content: "";
position: absolute;
top: 0;
bottom: 0;
right: 11px;
width: 1px;
height: 12px;
background: #20247b;
-moz-transform: rotate(15deg);
-o-transform: rotate(15deg);
-ms-transform: rotate(15deg);
-webkit-transform: rotate(15deg);
transform: rotate(15deg);
margin: auto;
opacity: 0.5;
}
.about-list p {
margin: 0;
font-size: 15px;
}

@media (max-width: 991px) {
.about-avatar {
  margin-top: 30px;
}
}

.about-section .counter {
padding: 22px 20px;
background: #ffffff;
border-radius: 10px;
box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
margin-top: 10px;
margin-bottom: 10px;
}
.about-section .counter .count {
font-weight: 700;
color: #20247b;
margin: 0 0 5px;
}
.about-section .counter p {
font-weight: 600;
margin: 0;
}
mark {
  background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-color: transparent;
  padding: 0;
  color: currentColor;
}
.theme-color {
  color: #fc5356;
}
.dark-color {
  color: #20247b;
}

.statusDot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

/* NAVBAR */
#navbar {
  width:100%;
  padding: 2.5em 2.5em 0 2.5em;
  background-color: #fbf9f6;
}
#navbar > div {
  width: 100%;
  display: flex;
  padding: 0 2em;
  background-color:#fff;
  border-radius: 1em;
  justify-content: space-between;
  align-items: center;
}
#navbar h1 {
  font-size:24px;
  text-transform: uppercase;
  font-weight:bold;
  color: #0d4a91;
  padding: 0;
  margin: 0;
}
#navbar-logo {
  width: 65px;
  padding-top: 0.5em;
  /* margin-bottom: -1.3em; */
}
nav a {
  display: inline-block;
  margin: 1em;
  color: inherit;
  padding-bottom:3px;
}
nav a:hover {
  padding-bottom: 0;
  border-bottom: 3px solid #fccc27
}

/* QR GENERATOR COMPONENT */
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 10px;
}
.form .form-element {
  margin-bottom: 15px;
}
.form .form-element label {
  font-size: 14px;
  color: #111;
}
.form .form-element input {
  width:100%;
  display: block;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
}
.form .form-element button {
  width:100%;
  height: 40px;
  background: #111;
  color: #eee;
  font-size: 14px;
  border: 0;
  border-radius: 10px;
}
.qr-img {
  margin-top: 10px;
}
.qr-img img {
  width: 100%;
}

.avatarContainer {
  height: 15rem;
  margin: 20%;
}

.avatarContainer > img {
  align-self: center;
  height: 100%
}

/*  */
/* LOGIN / SIGNUP PAGE */
#loginSignupPage {
  width:100%;
  padding: 2.5em;
  background-color: #fbf9f6;
  min-height: calc(100vh - 112px);
}
#loginSignupPage > div {
  height: calc(100vh - 190px);
  background-color: #fff;
  border-radius: 1.5em;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/imgs/waitingroom.jpg');
  background-position-y:70%;
  background-size: cover;
}
#loginSignupPage h2.block-title {
  padding: 1em 0;
  text-align:center;
}
#loginSignupPage form {
  background-color:#fff;
}
#loginSignupPage form > div{
  display: block;
  width: 25vw;
}
#loginSignupPage form input {
  width: 100%;
  padding: 0.5em 1em;
}
#loginSignupPage .smallLink {
  font-size: 0.8em;
  text-align:center;
  padding: 1em;
}
#loginSignupPage .smallLink a {
  color: #999;
}
#loginSignupPage .smallLink:hover a {
  color: #0a58ca;
  border-bottom: 3px solid #fccc27
}





/* Admin Dashboard */
#admindashboard {
  background-color: #fbf9f6;
  min-height:100vh;
  padding: 0.5em 2em 2em 2em;
}
.block {
  padding: 2em;
  background-color:#fff;
  border-radius: 15px;
  margin: 0.5em;
}

.col2 {
  display: flex;
}
.col2 > * {
  width:100%
}
.col2 > .sidepanel {
  width: 30%;
}

.childPic{
  height: 80px;
  margin-bottom: 10px;
  padding: 1em;
  border-radius: 50%;
  background-color: #f7f7f7;
}
.pendingChildLabel {
  background-color: #61bee2;
  color: #fff;
  padding: 0 1em;
  letter-spacing:0.1em;
  font-size: 11px;
  border-radius: 100px;
  position: absolute;
  top: 6px;
  left: 10px;
}

.flexBetween > span {
  width: 100%;
}
.flexBetween > span:last-child {
  text-align:center;
}
#data-legend {
  width: 30%;
}
#data-legend a, .data-legend a {
  font-weight: 500!important;
  color: #222;
  cursor: pointer;
}
#data-legend span {
  font-weight: 400!important;
  /* font-size: 14px!important; */
}
td .smalltxt {
  width: 180px;
  padding-left:10px;
  text-align:right;
}
.modal-footer button:first-child {
  margin-right:1em;
}

#clockinIcon {
  color:forestgreen
}

#clockoutIcon {
  color:red
}

.studentCard {
  width: 21rem;
  margin: 10px;
  border-style: solid;
  border-color: lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.centerTag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.groupStatusChange{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  padding:3rem
}

.groupStatusChange > label {
  font-size:'20px';
   color: 'black'
}

/* react calendar */

.react-calendar {
  /* width: 350px; */
  max-width: 100%;
  background: #fff;
  border: 1px solid #a0a096;
  /* font-family: Arial, Helvetica, sans-serif; */
  line-height: 1.125em;
  padding: 1em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 34px;
  margin-bottom: 1em;
}
.react-calendar__navigation__arrow {
  font-size: 28px!important;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 1em 0.3em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.65em 0.3em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  border-radius: 5px;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
  border-radius: 5px;
}
.react-calendar__tile--now {
  background: #fde387;
  border-radius: 5px;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #fde387;
  border-radius: 5px;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #61bee2;
  color: white;
  border-radius: 5px;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #0d4a91;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
  border-radius: 5px;
}
#admindashboard button.blankBtn{
  border: 0;
  background-color:#fff;
}
/* #admindashboard .open-modal */




/*  */
/* Online Checkin */

#onlineCheckinPage {
  padding: 2.5em;
  background-color: #fbf9f6;
}
#onlineCheckinPage > div {
  background-color: #fff;
  border-radius: 1.5em;
  padding: 2em;
}
.checkinAll {
  margin-bottom: 2.5em;
}

.checkinHeader, .addchildform{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.checkinHeader p, .addchildform p{
  text-align: center;
  font-weight: normal;
}
.checkinHeader p strong{
  font-weight: 600;
  font-size: 1.2em;
}

.failed {
  color: #ea4646!important;
}
.failed:before {
  content: "\f06a";
  font-family: 'fontawesome';
  padding-right: 5px;
  font-size: 1.2em;
}

#checkMark {
  color: green
}

#warningMark {
  color: goldenrod
}

#dangerMark {
  color: #ea4646
}

.basicFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flexEmployee{
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left:22%;
  margin:0 auto;
  border-style: solid;
  border-color: black;
  padding: 2rem
}

.flexEmployee > div{
  width: 45%
}

.employeeHR {
  width:40%;
  margin: auto;
  background-color: black;
}

.flexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%
}


.centerSmallSuccess {
  align-self: center;
  color: green
}

.centerSmallDanger {
  align-self: center;
  color: red
}
#centeredColumn {
  text-align: center;
  width: 40%
}

.employeeText {
  font-size: 1.5rem;
  text-align: center;
}

.employeeTitle {
  font-size: 2rem;
  text-align: center;
  color: black;
  margin-top: 4rem;
}


/* EMPLOYEE LANDING */
.clockedInBtn {
  border-color: green!important;
  background-color: #eff9ef!important;
}
.clockedInBtn i{
  color: green!important;
}
.clockedOutBtn {
  border-color: #61bee2!important;
  background-color: #ecf9ff!important;
  /* border-color: red!important;
  background-color: #fff4f4!important; */
}
.carousel-wrapper {
  display: flex;
  width:100%;
}
.carousel-wrapper > div{
  width:100%;
}
.carousel-wrapper .carousel-arrow-left, .carousel-wrapper .carousel-arrow-right {
  width: fit-content;
  visibility: hidden;
}
.carousel-wrapper .carousel-arrow-left:after {
  content: "\f053";
  font-family: 'fontawesome';
  visibility: visible;
}
.carousel-wrapper .carousel-arrow-right:after {
  content: "\f054";
  font-family: 'fontawesome';
  visibility: visible;
}

.scroll-content-wrapper {
  width: 75vw;
}
.scroll-content {
  display: flex; 
  overflow: auto;
}
.scroll-content > div > div{
  padding: 1em;
  width: 130px;
  text-align:center;
  border: 1px solid #eee;
  border-collapse: collapse;
}

.hidden{
  display: none
}

.cancelBtn {
  border-style: none;
  background-color: white;
  text-decoration: underline;
  color: red;
  height: 30px;
  width: 70px;
  font-weight: bold;
  margin:0;
  padding: 8px;
  border-radius:8px;
  border: 1px solid black
}

.cancelTop {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 30rem;
}
.studentmonitor-button:hover {
  cursor: pointer;
  background-color: #fff3c9;
  border-color: #fcce30;
}
.tablelegend {
  background-color: #f7f7f7;
}

.open-modal-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  opacity:0;
  border: 1px solid black;
  background-color: white;
  width: 30rem;
  border-radius: 7px;
  box-shadow: var(--shadow);
  animation-name: modalContent;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  padding: 2em;
}
@keyframes modalContent {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.open-modal {
  opacity:0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  animation-name: openModal;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

@keyframes openModal {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.modal-close{
  animation-name: modalClose;
  animation-duration: .4s;
  animation-fill-mode: forwards;
}

@keyframes modalClose {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.modal-bottom {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  background-color: beige;
  padding: 6px;
  margin: 0;
  border-radius: 7px;
}

.modal-bottom > button {
  height: 2.5rem;
  width: 4rem;
  margin: 16px;
  background-color: lightblue;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.modalContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 0;
  text-align: center
}

.modalContentContainer > input {
  margin-top: 10px;
  width: 100%;
  padding: 0.5em 1em;
}
.modalContentContainer .button-close {
  right: 0.5em;
  top: 0;
}
.modalContentContainer .hyperlink {
  font-size: 1em!important;
}


#FullCalendar {
  width:100%;
  height:10%;
}

#CalendarBox {
  padding-top: 1em;
  display: flex;
  flex-wrap: nowrap;
  width:100%;

}

#CalendarLeft {
  width:40%;

}

#CalendarRight {
  width:60%;

}


/* Calendar Dashboard */
#calendarDashboard {
  background-color: #fbf9f6;
  min-height:70vh;
  padding: 0.5em 2em 2em 2em;
  width: 100%;
  display: flex;
}


.calendarButtons {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color:white;
  background-color: white;
  color: #fcce30;
  font-size: large;
  font-weight: bold;
  padding: 3px;
  margin: 0px 20px;
}

#calendarContainer {
  display: flex;
  max-height: 1000;
  margin: 15px;
  padding: 10px;
}

#calendarDashboard > div > input {
margin: .2rem;
padding: .1rem;
}

#calendarDashboard > div > select {
margin: .2rem;
padding: .1rem;
}

  
#calendarEvents {
  list-style:none;
  padding-left:0;
}
li.calendarEventLine {
  padding: 5px;
}
  
#calendarSpace {
  width:100px;
}  
  
  


.ReactModalPortal > div {
  background-color: rgba(0, 0, 0, 0.5)!important
}
.ReactModal__Content.ReactModal__Content--after-open {
  height:500px;
  width: 500px;
  margin: 0 auto;
  border-radius: 25px!important;
}









/*  */
/* Parent Landing Page */
#parentLandingPage{
  background-color:#fbf9f6;
  padding: 2.5em;
  min-height: calc(100vh - 112px);
}
#parentLandingPage > div > div {
  display: flex;
  justify-content: space-between;
}
.parentShortcutsWrapper {
  padding-bottom: 2.5em;
}
.parentLandingEmptyWrapper {
  background-color:#fff;
  padding: 2em;
  border-radius: 1.5em;
  flex-direction: column; 
}
.parentShortcutsWrapper-empty {
  min-height: calc(100vh - 112px - 5em);
  background-color: #fff;
  background-position: center;
  background-size: cover;
  border-radius: 1.5em;
  padding:2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parentLandingEmptyWrapper form > div{
  display: block;
  margin: 0.5em;
}
.addchildform {
  background-color:#fff;
  padding: 2em;
  width: fit-content;
}
.addchildform form{
  display: flex;
  flex-direction: column;
}
.addchildform form > div {
  margin: 1em 0;
}
.addchildform input[type="text"], .addchildform select {
  max-width: 30vw;
  min-width: 245px;
  padding: 0.5em 1em;
}

.parentShortcuts {
  background-color:#fff;
  padding: 2em;
  border-radius: 1.5em;
  width: calc(100vw / 3 - 3.5em);
}
#childrenTable {
  flex-direction: column;
  background-color:#fff;
  padding: 2em;
  border-radius: 1.5em;
}
#childrenTable .block-title {
  padding-bottom: 1em;
}
#childrenTable table {
  width:100%;
}
#childrenTable tbody {
  display: flex;
  flex-wrap: wrap;
}
.childCard {
  width: 20%;
  padding: 0.5em;
  display: flex;
}
.childCard td{
  border: 1px solid #ededed;
  border-radius: 0.5em;
  text-align:center;
  width: 100%;
  padding: 2em 1em;
  position: relative;
}
.childCard td:hover {
  border: 1px solid #d1d1d1;
}



#bigBlock {
  margin:0px 300px;
  width:1600px;
}


.grid-container {
  display: grid;

  grid-gap: 2px;
  background-color: #2196F3;
  padding: 2px;
  
   grid-auto-columns: 1fr;
   grid-auto-flow: column;
  
  
}

.grid-container> div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 1px 30px;
  font-size: 16px;
  border: 1px solid;
  margin-bottom:2px;
}

.item {
  font-size: 20px;
}

.item2 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.item5 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.item6 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.item7 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item8 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}

.item9 {
  grid-column-start: 1;
  grid-column-end: 2;

}
.item10 {
  grid-column-start: 1;
  grid-column-end: 2;
}
.item11 {
  grid-column-start: 1;
  grid-column-end: 3;

}

.item12 {
  grid-column-start: 3;
  grid-column-end: 5;

}
.item13 {
  grid-column-start: 1;
  grid-column-end: 3;
 
}

.item14 {
  grid-column-start: 3;
  grid-column-end: 5;

}

.item15 {
  grid-column-start: 1;
  grid-column-end: 3;

}

.item16 {
  grid-column-start: 3;
  grid-column-end: 5;

}

.whiteInput {
  float: left;
  margin: 0px 20px;
  background-color:rgb(255,255,204);
  border-width:1px;
  width: 100%;
  
}

.buttonPic {
  width: 50px;
  height: 50px;
  margin:10px;
}

/* Parent invoices*/

#parent-billing-page {
  padding: 2.5em;
  background-color: #fbf9f6;
}
.invoices {
  background-color: #fff;
  border-radius: 1.5em;
  padding: 2em;
}
.invoices > div {
  max-width: 700px;
  margin: 0 auto;
}
.product {
  display: flex;
}
.product > div {
  width: 100%;
  text-align:right;
}
#active-subs-title{
  text-align: center;
}
.multi-subs-btns{
  display: flex;
  min-height: 30vh;
}
.multi-subs-btn{
  margin: 3rem
}
.manage-subscription{
  min-height: calc(100vh - 226px - 7em);
  background-color: #fff;
  border-radius: 1.5em;
  padding: 2em;
  margin-top: 2em;
}

/* Stripe-Success */

#subs-init {
  text-align: center;
  margin: 2rem
}
.subs-btns {
  margin: 2rem;
  padding: 1rem;
  min-height: 100vh;
}
.home-btn {
  margin: 2rem;
}
/* Stripe-Failed */
#stripe-cancel-page {
  background-color: #fbf9f6;
  padding: 2.5em;
}
#stripe-cancel-page > div {
  background-color: #fff;
  border-radius: 1.5em;
  padding: 2em;
  text-align: center;
  min-height:calc(100vh - 112px - 5em);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pay-failed {
  text-align: center;
  margin: 3rem;
  font-size:x-large
}
#stripe-cancel-redirect-btn {
  margin: 2rem;
}

/* Financial Summary*/
#fin-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#summary-title {
  text-align: center;
  color: #0d4a91;
  font-weight:600
}
.table-words {
  font-size: 1.5rem;
  padding: 1rem;
}


/* Payments Made by parents*/
.payment-made {
  margin: 1rem;
  text-align: center;
}
#parent-tracker-title {
  text-align: center;
}
#tracker-table {
  margin: 0 auto;
}